/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}
.font-display {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}
